<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="student" type="com.kuang.pojo.Student"/>
    </typeAliases>

    <!--原来 配置数据源-->
    <!--<environments default="development">-->
    <!--<environment id="development">-->
    <!--<transactionManager type="JDBC"/>-->
    <!--<dataSource type="POOLED">-->
    <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
    <!--<property name="url" value="jdbc:mysql://127.0.0.1/test?useUnicode=true&amp;characterEncoding=UTF-8"/>-->
    <!--<property name="username" value="root"/>-->
    <!--<property name="password" value="123456"/>-->
    <!--</dataSource>-->
    <!--</environment>-->
    <!--</environments>-->

    <!--原来 绑定mapper.xml配置文件-->
    <!--<mappers>-->
        <!--&lt;!&ndash; // power by http://www.yiibai.com &ndash;&gt;-->
        <!--<mapper resource="com/kuang/dao/*.xml"/>-->
    <!--</mappers>-->

    <!--设置-->
    <!--<settings>-->
        <!--<setting name="" value=""/>-->
    <!--</settings>-->
</configuration>